body {
  background-color: #DBD4BA;
}
footer {
  padding-top: 4em;
  padding-bottom: 2em;
}
.back-darken {
  background-color: #c7bea2 !important;
}
.back-dark {
  background-color: #b8b091 !important;
}
.back-main {
  background-color: #DBD4BA !important;
}
.modal-content {
  background-color: #DBD4BA;
}
.navbar {
  border: none;
  min-height: 4em;
  min-width: 100%;
}
.navbar-main {
  padding: 3px 0;
  color: #3B5998;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16.6333px;
  text-align: left;
  text-decoration: none;
}
.obsadzona {
  padding-left: 2em;
  font-weight: bold;
  color: green;
}
.nieobsadzona {
  padding-left: 2em;
  color: red;
}
.stacje {
  margin-top: 2em;
}
.stacja {
  font-size: 14px;
  padding-top: 0.3em;
}
.stacja a {
  color: black;
}
.stacja a:hover {
  color: black;
}
.top-mar-2 {
  margin-top: 2em;
}
.angular-google-map-container {
  height: 600px;
}
@media only screen and (max-width: 767px) {
  .angular-google-map-container {
    height: 350px;
  }
}
@media only screen and (max-width: 375px) {
  .no-padding {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .mediaVisible {
    display: none;
  }
}
#menuAsideButton {
  display: none;
}
@media only screen and (max-width: 767px) {
  #menuAsideButton {
    display: inline-block;
    float: right;
    margin-right: 1.5em;
    margin-top: 1em;
  }
}
thead th {
  vertical-align: middle;
  text-align: center;
}
.table thead,
.table tbody,
.table tr,
.table td,
.table th {
  border: 2px solid black !important;
  text-align: center;
}
.mar-top-0 {
  margin-top: 0px;
}
.mar-top-1 {
  margin-top: 10px;
}
.mar-top-2 {
  margin-top: 20px;
}
.mar-top-3 {
  margin-top: 30px;
}
.mar-top-4 {
  margin-top: 40px;
}
.mar-top-5 {
  margin-top: 50px;
}
.mar-top-6 {
  margin-top: 60px;
}
.mar-top-7 {
  margin-top: 70px;
}
.mar-top-8 {
  margin-top: 80px;
}
.mar-top-0 {
  margin-top: 0px;
}
.mar-top-1 {
  margin-top: 10px;
}
.mar-top-2 {
  margin-top: 20px;
}
.mar-top-3 {
  margin-top: 30px;
}
.mar-top-4 {
  margin-top: 40px;
}
.mar-top-5 {
  margin-top: 50px;
}
.mar-top-6 {
  margin-top: 60px;
}
.mar-top-7 {
  margin-top: 70px;
}
.mar-top-8 {
  margin-top: 80px;
}
